@using WebPhongKham.Models.Entity
@{
    ViewData["Title"] = "Home Page";
}
@model List<User>

<article class="content dashboard-page">
    <section class="section">
        <div class="min-h-screen">
            <div class="overflow-x-auto w-full">
                <div class="">
                    <a asp-controller="Home" asp-action="Create" class="btn btn-primary mx-auto fa-lg gradient-custom-2 mb-3" style="border-color: #010280">
                        <i class="fa-solid fa-user-plus"></i>
                        Thêm người dùng
                    </a>
                </div>
                <table class="rounded-lg bg-white divide-y divide-gray-300 overflow-hidden" style="width: 100%; border-radius: 10px; overflow: scroll">
                    <thead class="bg-gray-900" style="background-color: #413F42">
                        <tr class="text-white text-left">
                            <th class="font-semibold text-sm uppercase px-6 py-4"> Tên người dùng </th>
                            <th class="font-semibold text-sm uppercase px-6 py-4"> Tài khoản </th>
                            <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Số điện thoại </th>
                            <th class="font-semibold text-sm uppercase px-6 py-4 text-center"> Trạng thái </th>
                            <th class="font-semibold text-sm uppercase px-6 py-4"> </th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="px-6 py-4">
                                    <div class="flex items-center space-x-3">
                                        <div>
                                            <p> @item.FullName </p>
                                            <p class="text-gray-500 text-sm font-semibold tracking-wide"> @item.Role </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4">
                                    <p class=""> @item.UserName </p>
                                </td>

                                <td class="px-6 py-4 text-center"> @item.PhoneNumber </td>
                                <td class="px-6 py-4 text-center">
                                    @if (item.Status)
                                    {
                                        <span class="text-white text-sm w-1/3 pb-1 bg-green-600 font-semibold px-2 rounded-full"> Hoạt động </span>
                                    }
                                    else
                                    {
                                        <span class="text-white text-sm w-1/3 pb-1 bg-red-600 font-semibold px-2 rounded-full"> Không hoạt động </span>
                                    }
                                </td>
                                <td class="px-6 py-4 text-center">
                                    <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        Sửa
                                    </a>
                                    @if (item.Status)
                                    {
                                        <a asp-controller="Home" asp-action="ChangeStatus" asp-route-id="@item.Id" class=" btn btn-danger">
                                            <i class="fa-solid fa-user-lock"></i>
                                            Khóa
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Home" asp-action="ChangeStatus" asp-route-id="@item.Id" class=" btn btn-success">
                                            <i class="fa-solid fa-unlock"></i>
                                            Mở khóa
                                        </a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</article>