@using WebPhongKham.Models.Entity
@{
    ViewData["Title"] = "Health Type Page";
}
@model List<HealthType>


<article class="content dashboard-page">
    <section class="section">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Thêm loại sức khỏe
        </button>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Thêm loại sức khỏe</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="modal-body">
                        <form asp-controller="HealthType" asp-action="Create" method="post">
                            <div class="row">
                                <div class="form-group mt-3">
                                    <label for="name" class="form-label">Loại sức khỏe</label>
                                    <input id="name" name="name" type="text" required class="form-control" />

                                </div>
                                <div class="form-group mt-3" style="padding-left: 2rem;">
                                    <input class="form-check-input" type="checkbox" value="1" id="deletable" name="deletable" />
                                    <label class="form-check-label" style="margin-left: 5px;" for="deletable">Dữ liệu này không thể xóa</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Thêm</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Edit Modal-->
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Sửa loại sức khỏe</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="modal-body">
                        <form id="editForm" method="post">
                            <div class="row">
                                <div class="form-group mt-3">
                                    <label for="name" class="form-label">Loại sức khỏe</label>
                                    <input id="nameEdit" name="name" type="text" required class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Tên loại sức khỏe</th>
                    <th scope="col">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        @if (!item.Deletable)
                        {
                            <td class="fit">
                                <button data-id="@item.Id" type="button" id="btnEdit" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" class="btn btn-secondary btn-edit"><i data-id="@item.Id" class="fa-solid fa-pen-to-square"></i> Sửa</button>
                                <a asp-controller="HealthType" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        }
                        else
                        {
                            <td class="fit">
                                <button data-id="@item.Id" type="button" id="btnEdit" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" class="btn btn-secondary btn-edit"><i data-id="@item.Id" class="fa-solid fa-pen-to-square"></i> Sửa</button>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        <div>
        </div>
    </section>

</article>
@section scripts {
    <script>
        $(document).ready(() => {
            $(".btn-edit").click((element) => {
                $("i").click(e => e.stopPropagation());
                console.log(element.currentTarget);
                let id = $(element.currentTarget).attr("data-id");
                let path = "/HealthType/DetailsJson/" + id;
                $.ajax({
                    type: "GET",
                    url: path,
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: (response) => {
                        $("#nameEdit").val(response.name);
                        $("#editForm").attr("action", "/HealthType/Edit/" + id);
                    },
                    failure: function(response) {
                        alert("Fail" + response.responseText);
                    },
                    error: function(response) {
                        alert("Error" + response.responseText);
                    }
                });
            });
        });
    </script>
}