@using WebPhongKham.Models.Entity
@using WebPhongKham.Models.Paging
@{
    ViewData["Title"] = "Bệnh nhân";
}
@model PagedResult<Patient>

<style>
    .date {
        position: relative;
        width: 100%;
        height: 41px;
        color: white;
    }

        .date:before {
            position: absolute;
            top: 5px;
            left: 10px;
            content: attr(data-date);
            display: inline-block;
            color: black;
        }

        .date::-webkit-datetime-edit, .date::-webkit-inner-spin-button, .date::-webkit-clear-button {
            display: none;
        }

        .date::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 5px;
            right: 10px;
            color: black;
            opacity: 1;
        }

    .error {
        color: red;
        font-weight: normal;
    }
    .tx-w{
        color: white;
    }
</style>

<article class="content dashboard-page">
    <section class="section">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Thêm bệnh nhân
        </button>
        <button class="btn btn-primary" id="btn-refresh" type="button">Làm mới</button>
        <a class="btn btn-primary" id="btn-search"><i class="fa-solid fa-magnifying-glass" style="color: white"></i></a>

        <div class="mb-3" id="searchForm" style="display: none">
            <form id="form_search" asp-controller="Patient" autocomplete="off">
                <div class="row">
                    <div class="col-md-3">
                        <label for="fullName" class="form-label">Họ tên</label>
                        <input id="searchName" name="searchName" value="@ViewBag.PrevKeyword" type="text" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label for="searchType" class="form-label">Loại sức khỏe</label>
                        <select name="searchType" id="searchType" asp-items="@ViewBag.HealthTypes" class="form-control">
                            <option value="">--Chọn loại sức khỏe--</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="searchObject" class="form-label">Loại đối tượng</label>
                        <select name="searchObject" id="searchObject" asp-items="@ViewBag.ExamObjects" class="form-control">
                            <option value="">--Chọn loại đối tượng--</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="searchStart" class="form-label">Từ ngày</label>
                        <input id="searchStart" name="searchStart" type="date" data-date="" data-date-format="DD/MM/YYYY" value="2022-01-01" class="form-control date" />
                    </div>
                    <div class="col-md-3">
                        <label for="searchEnd" class="form-label">Đến ngày</label>
                        <input id="searchEnd" name="searchEnd" type="date" data-date="" data-date-format="DD/MM/YYYY" value="2024-01-01" class="form-control date" />
                    </div>
                    <div class="col-md-3" style="padding-top: 30px">
                        <button class="btn btn-success" type="submit" id="search">Tìm kiếm</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Thêm bệnh nhân</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                    <div class="modal-body">
                        <form asp-controller="Patient" asp-action="Create" id="formCreate" method="post">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="fullName" class="form-label">Họ tên</label>
                                    <input id="fullName" name="fullName" type="text" required class="form-control" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="doe" class="form-label">Ngày khám</label>
                                    <input id="doe" name="doe" type="date" data-date="" data-date-format="DD/MM/YYYY" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control date" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="identityCode" class="form-label">CMND</label>
                                    <input id="identityCode" name="identityCode" type="text" required class="form-control" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="healthType" class="form-label">Loại sức khỏe khám</label>
                                    <select name="healthType" asp-items="@ViewBag.HealthTypes" class="form-control">
                                        <option>--Chọn loại sức khỏe--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="dob" class="form-label">Ngày sinh</label>
                                    <input id="dob" name="dob" value="1990-01-01" type="date" data-date="" data-date-format="DD/MM/YYYY" class="form-control date" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="healthType" class="form-label">Loại sức khỏe</label>
                                    <select name="examObject" asp-items="@ViewBag.ExamObjects" class="form-control">
                                        <option>--Chọn loại đối tượng--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6" style="padding-left: 2rem;">
                                    <input class="form-check-input" type="checkbox" value="0" id="isXray" name="isXray" />
                                    <label class="form-check-label" style="margin-left: 5px;" for="isXray">Có chụp X-quang</label>
                                </div>
                                <div class="form-group col-md-6" style="padding-left: 2rem;">
                                    <input class="form-check-input" type="checkbox" value="0" id="isTest" name="isTest" />
                                    <label class="form-check-label" style="margin-left: 5px;" for="isTest">Có xét nghiệm</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Thêm bệnh nhân</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Second Modal -->
        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel2">Sửa bệnh nhân</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form asp-controller="Patient" asp-action="Edit" id="formEdit" method="post">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="fullNameEdit" class="form-label">Họ tên</label>
                                    <input id="fullNameEdit" name="fullName" type="text" required class="form-control" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="doeEdit" class="form-label">Ngày khám</label>
                                    <input id="doeEdit" name="doe" type="date" data-date="" data-date-format="DD/MM/YYYY" class="form-control date" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="identityCodeEdit" class="form-label">CMND</label>
                                    <input id="identityCodeEdit" name="identityCode" type="text" required class="form-control" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="healthTypeEdit" class="form-label">Loại sức khỏe khám</label>
                                    <select name="healthType" id="healthTypeEdit" asp-items="@ViewBag.HealthTypes" class="form-control">
                                        <option value="">--Chọn loại sức khỏe--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="dobEdit" class="form-label">Ngày sinh</label>
                                    <input id="dobEdit" name="dob" type="date" data-date="" data-date-format="DD/MM/YYYY" class="form-control date" />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="examObject" class="form-label">Loại đối tượng</label>
                                    <select name="examObject" id="examObjectEdit" asp-items="@ViewBag.ExamObjects" class="form-control">
                                        <option value="">--Chọn loại đối tượng--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6" style="padding-left: 2rem;">
                                    <input class="form-check-input" type="checkbox" value="0" id="isXrayEdit" name="isXray" />
                                    <label class="form-check-label" style="margin-left: 5px;" for="isXrayEdit">Có chụp X-quang</label>
                                </div>
                                <div class="form-group col-md-6" style="padding-left: 2rem;">
                                    <input class="form-check-input" type="checkbox" value="0" id="isTestEdit" name="isTest" />
                                    <label class="form-check-label" style="margin-left: 5px;" for="isTestEdit">Có xét nghiệm</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Lưu bệnh nhân</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
        <table class="max-w-4xl w-full whitespace-nowrap rounded-lg bg-white divide-y divide-gray-300 overflow-hidden">
            <thead class="bg-gray-900">
                <tr>
                    <th scope="col" class="font-semibold text-sm uppercase px-6 py-4 tx-w">Họ tên</th>
                    <th scope="col" class="font-semibold text-sm uppercase px-6 py-4 tx-w">Ngày sinh</th>
                    <th scope="col" class="font-semibold text-sm uppercase px-6 py-4 tx-w">Loại khám</th>
                    <th scope="col" class="font-semibold text-sm uppercase px-6 py-4 tx-w">Đối tượng khám</th>
                    <th scope="col" class="font-semibold text-sm uppercase px-6 py-4 tx-w">Ngày khám</th>
                    <th scope="col" class="font-semibold text-sm uppercase px-6 py-4"></th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td class="px-6 py-4">@item.FullName</td>
                        <td class="px-6 py-4">@item.DoB.ToString("dd-MM-yyyy")</td>
                        <td class="px-6 py-4">@item.HealthType</td>
                        <td class="px-6 py-4">@item.ExamObject</td>
                        <td class="px-6 py-4">@item.DoE.ToString("dd-MM-yyyy")</td>
                        <td class="fit px-6 py-4">
                            <a asp-controller="Patient" asp-action="Details" asp-route-id="@item.Id" target="_new" class="btn btn-info"><i class="fa-solid fa-eye"></i> Xem</a>
                            <button data-id="@item.Id" type="button" id="btnEdit" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" class="btn btn-secondary btn-edit"><i data-id="@item.Id" class="fa-solid fa-pen-to-square"></i> Sửa</button>
                            <a asp-controller="Patient" id="btnDelete" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Bạn có chắc chắn muốn xóa bệnh nhân này?')" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Xóa</a>
                            @if (item.IsPaid)
                            {
                                <p><i class="fa-solid fa-check" style="color: green;"></i> Đã thu tiền</p>
                            }
                            else
                            {
                                <p><i class="fa-solid fa-xmark" style="color: red;"></i> Chưa thu tiền</p>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    @await Component.InvokeAsync("Paging", Model)
</article>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script>
        $(document).ready(() => {
            $("#doe").on("change", function() {
                this.setAttribute(
                    "data-date",
                    moment(this.value, "YYYY-MM-DD")
                        .format(this.getAttribute("data-date-format"))
                )
            }).trigger("change");
            $("#dob").on("change", function() {
                this.setAttribute(
                    "data-date",
                    moment(this.value, "YYYY-MM-DD")
                        .format(this.getAttribute("data-date-format"))
                )
            }).trigger("change");
            /// Search date
            $("#searchStart").on("change", function() {
                this.setAttribute(
                    "data-date",
                    moment(this.value, "YYYY-MM-DD")
                        .format(this.getAttribute("data-date-format"))
                )
            }).trigger("change");
            $("#searchEnd").on("change", function() {
                this.setAttribute(
                    "data-date",
                    moment(this.value, "YYYY-MM-DD")
                        .format(this.getAttribute("data-date-format"))
                )
            }).trigger("change");
            ///
            $("#doeEdit").on("change", function() {
                this.setAttribute(
                    "data-date",
                    moment(this.value, "YYYY-MM-DD")
                        .format(this.getAttribute("data-date-format"))
                )
            }).trigger("change");
            $("#dobEdit").on("change", function() {
                this.setAttribute(
                    "data-date",
                    moment(this.value, "YYYY-MM-DD")
                        .format(this.getAttribute("data-date-format"))
                )
            }).trigger("change");
            ///
            $("#isXray").change(function() {
                cb = $(this);
                cb.val(cb.prop('checked'));
            });
            $("#isTest").change(function() {
                cb = $(this);
                cb.val(cb.prop('checked'));
            });
            $("#isXrayEdit").change(function() {
                cb = $(this);
                cb.val(cb.prop('checked'));
            });
            $("#isTestEdit").change(function() {
                cb = $(this);
                cb.val(cb.prop('checked'));
            });
            $(".btn-edit").click((element) => {
                console.log(element.target);
                let id = $(element.target).attr("data-id");
                let path = "/Patient/DetailsJson/" + id;
                $.ajax({
                    type: "GET",
                    url: path,
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: (response) => {
                        console.log(response);
                        $("#fullNameEdit").val(response.fullName);
                        $("#doeEdit").val(response.doE).change();
                        $("#identityCodeEdit").val(response.identityCode);
                        $("#dobEdit").val(response.doB).change();
                        if (response.isXray) {
                            $("#isXrayEdit").prop("checked", true).val(true);
                        } else {
                            $("#isXrayEdit").prop("checked", false).val(false);
                        }
                        if (response.isTest) {
                            $("#isTestEdit").prop("checked", true).val(true);
                        } else {
                            $("#isTestEdit").prop("checked", false).val(false);
                        }
                        $("#healthTypeEdit").val(response.healthType).change();
                        $("#examObjectEdit").val(response.examObject).change();
                        $("#formEdit").attr("action", "/Patient/Edit/" + id);
                        //$("#isXrayEdit").val(response.isXray);
                        //$("#isTestEdit").val(response.isTest);
                    },
                    failure: function(response) {
                        alert("Fail" + response.responseText);
                    },
                    error: function(response) {
                        alert("Error" + response.responseText);
                    }
                });
            });
            $("#btn-search").click(() => {
                $("#searchForm").slideToggle();
            });
            function padTo2Digits(num) {
                return num.toString().padStart(2, '0');
            }

            function formatDate(date) {
                return [
                    date.getFullYear(),
                    padTo2Digits(date.getMonth() + 1),
                    padTo2Digits(date.getDate()),

                ].join('-');
            }
            $("#btn-refresh").click(() => {
                $("#searchName").val("").change();
                $("#searchType").val("").change();
                $("#searchObject").val("").change();
                let start = new Date(2022, 1, 1); let end = new Date(2024, 1, 1);
                $("#searchStart").val(formatDate(start)).change();
                $("#searchEnd").val(formatDate(end)).change();
            });
            $("#formCreate, #formEdit").validate({
                onfocusout: false,
                onkeyup: false,
                onclick: false,
                rules: {
                    "fullName": {
                        required: true
                    },
                    "identityCode": {
                        required: true,
                        minlength: 9
                    },
                    "healthType": {
                        validateType: true
                    },
                    "examObject": {
                        validateObject: true
                    }
                },
                messages: {
                    "fullName": {
                        required: "Tên bệnh nhân không được để trống"
                    },
                    "identityCode": {
                        required: "CMND không được để trống",
                        minlength: "CMND quá ngắn"
                    }
                },
            });
            $.validator.addMethod("validateObject", function(value, element) {
                return this.optional(element) || !(value == "--Chọn loại đối tượng--");
            }, "Bạn chưa chọn loại đối tượng");
            $.validator.addMethod("validateType", function(value, element) {
                return this.optional(element) || !(value == "--Chọn loại sức khỏe--");
            }, "Bạn chưa chọn loại sức khỏe");
        });

    </script>
}