@using WebPhongKham.Models.Entity
@using WebPhongKham.Models.Paging
@{
    ViewData["Title"] = "Bệnh nhân";
}
@model PagedResult<Patient>

<style>
    .date {
        position: relative;
        width: 100%;
        height: 41px;
        color: white;
    }

        .date:before {
            position: absolute;
            top: 5px;
            left: 10px;
            content: attr(data-date);
            display: inline-block;
            color: black;
        }

        .date::-webkit-datetime-edit, .date::-webkit-inner-spin-button, .date::-webkit-clear-button {
            display: none;
        }

        .date::-webkit-calendar-picker-indicator {
            position: absolute;
            top: 5px;
            right: 10px;
            color: black;
            opacity: 1;
        }
        .tx-w{
            color: white;
        }
</style>

<article class="content dashboard-page">
    <section class="section">
        <button class="btn btn-primary" id="btn-refresh" type="button">Làm mới</button>
        <a class="btn btn-primary" id="btn-search"><i class="fa-solid fa-magnifying-glass"></i></a>
        <input type="checkbox" name="checkShowToday" id="showToday" />
        <label for="checkShowToday">Hiển thị bệnh nhân ngày hôm nay</label>
        <button type="button" class="btn btn-primary" id="btnExcel">Xuất file excel</button>
        <div class="mb-3" id="searchForm" style="display: none">
            <form id="form_search" asp-controller="Xray" autocomplete="off">
                <div class="row">
                    <div class="col-md-3">
                        <label for="fullName" class="form-label">Họ tên</label>
                        <input id="searchName" name="searchName" value="@ViewBag.PrevKeyword" type="text" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <label for="searchType" class="form-label">Loại sức khỏe</label>
                        <select name="searchType" id="searchType" asp-items="@ViewBag.HealthTypes" class="form-control">
                            <option value="">--Chọn loại sức khỏe--</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="searchObject" class="form-label">Loại đối tượng</label>
                        <select name="searchObject" id="searchObject" asp-items="@ViewBag.ExamObjects" class="form-control">
                            <option value="">--Chọn loại đối tượng--</option>
                        </select>
                    </div>
                     <div class="col-md-3">
                         <input id="doneXray" name="doneXray" type="checkbox"/>
                        <label for="doneXray" class="form-label">Đã chụp X-quang</label>     
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label for="searchStart" class="form-label">Từ ngày</label>
                        <input id="searchStart" name="searchStart" type="date" data-date="" data-date-format="DD/MM/YYYY" value="2022-01-01" class="form-control date" />
                    </div>
                    <div class="col-md-3">
                        <label for="searchEnd" class="form-label">Đến ngày</label>
                        <input id="searchEnd" name="searchEnd" type="date" data-date="" data-date-format="DD/MM/YYYY" value="2024-01-01" class="form-control date" />
                    </div>
                    <div class="col-md-3" style="padding-top: 30px">
                        <button class="btn btn-success" type="submit" id="search">Tìm kiếm</button>
                    </div>
                </div>
            </form>
        </div>
        <table class="rounded-lg bg-white divide-y divide-gray-300 overflow-hidden" style="width: 100%; border-radius: 10px; overflow: scroll">
            <thead class="bg-gray-900" style="background-color: #413F42">
                <tr>
                    <th scope="col" class="font-semibold text-sm uppercase px-6 py-4 tx-w">Họ tên</th>
                    <th scope="col" class="font-semibold text-sm uppercase px-6 py-4 tx-w">Ngày sinh</th>
                    <th scope="col" class="font-semibold text-sm uppercase px-6 py-4 tx-w">Loại khám</th>
                    <th scope="col" class="font-semibold text-sm uppercase px-6 py-4 tx-w">Đối tượng khám</th>
                    <th scope="col" class="font-semibold text-sm uppercase px-6 py-4 tx-w">Ngày khám</th>
                    <th scope="col" class="font-semibold text-sm uppercase px-6 py-4 tx-w"></th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td class="px-6 py-4">@item.FullName</td>
                        <td class="px-6 py-4">@item.DoB.ToString("dd-MM-yyyy")</td>
                        <td class="px-6 py-4">@item.HealthType</td>
                        <td class="px-6 py-4">@item.ExamObject</td>
                        <td class="px-6 py-4">@item.DoE.ToString("dd-MM-yyyy")</td>
                        <td class="fit px-6 py-4">
                            <a asp-controller="Patient" asp-action="Details" asp-route-id="@item.Id" target="_new" class="btn btn-info"><i class="fa-solid fa-eye"></i> Xem</a>
                            @if (!item.IsDoneXray)
                            {
                                <button data-id="@item.Id" class="btn btn-secondary btn-test"><i class="fa-solid fa-check" style="color: green;"></i> Đã chụp X-quang</button>
                            }
                            else
                            {
                                <button data-id="@item.Id" class="btn btn-secondary btn-test"><i class="fa-solid fa-xmark" style="color: red;"></i> Chưa chụp X-quang</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
    @await Component.InvokeAsync("Paging", Model)
</article>
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script>
        $(document).ready(() => {
            /// Search date
            $("#searchStart").on("change", function() {
                this.setAttribute(
                    "data-date",
                    moment(this.value, "YYYY-MM-DD")
                        .format(this.getAttribute("data-date-format"))
                )
            }).trigger("change");
            $("#searchEnd").on("change", function() {
                this.setAttribute(
                    "data-date",
                    moment(this.value, "YYYY-MM-DD")
                        .format(this.getAttribute("data-date-format"))
                )
            }).trigger("change");
            ///
            $("#btn-search").click(() => {
                $("#searchForm").slideToggle();
            });
            $(".btn-test").click((element) => {
                let id = $(element.currentTarget).attr("data-id");
                let path = "/Xray/ChangeXray/" + id;
                $.ajax({
                    type: "GET",
                    url: path,
                    async: true,
                    //dataType: "json",
                    contentType: 'application/json',
                    success: (response) => {
                        window.location.href = "/Xray";
                    },
                    failure: function(response) {
                        alert("Fail" + response.responseText);
                    },
                    error: function(response) {
                        alert("Error" + response.responseText);
                    }
                });
            });
            function padTo2Digits(num) {
                return num.toString().padStart(2, '0');
            }

            function formatDate(date) {
                return [
                    date.getFullYear(),
                    padTo2Digits(date.getMonth() + 1),
                    padTo2Digits(date.getDate()),

                ].join('-');
            }
            $("#btn-refresh").click(() => {
                $("#searchName").val("").change();
                $("#searchType").val("").change();
                $("#searchObject").val("").change();
                let start = new Date(2022, 1, 1); let end = new Date(2024, 1, 1);
                $("#searchStart").val(formatDate(start)).change();
                $("#searchEnd").val(formatDate(end)).change();
            });
            if (localStorage.getItem("isXrayChecked") == 'true') {
                $("#showToday").prop("checked", true);
            } else {
                console.log("false check");
                $("#showToday").prop("checked", false);
            }
            $("#showToday").click(function() {
                let check = $("#showToday").prop('checked');
                console.log(check);
                if (check) {
                    let start = new Date(); let end = new Date(); end.setDate();
                    $("#searchStart").val(formatDate(start)).change();
                    $("#searchEnd").val(formatDate(end)).change();
                    $("#search").click();
                    localStorage.setItem("isXrayChecked", true);
                }
                else {
                    let start = new Date(2022, 1, 1); let end = new Date(2024, 1, 1);
                    $("#searchStart").val(formatDate(start)).change();
                    $("#searchEnd").val(formatDate(end)).change();
                    $("#search").click();
                    localStorage.setItem("isXrayChecked", false);
                }
            });
            $("#btnExcel").click((element) => {
             let exam = $("#searchObject").val();
             let type = $("#searchType").val();
             let start = $("#searchStart").val();
             let end = $("#searchEnd").val();
             let doneXray = $("#doneXray").val();
                window.location.href = "/Xray/ExportExcel/?exam="+exam+"&type="+type+"&start="+start+"&end="+end+"&doneXray="+doneXray+"";
            });
            $('#doneXray').val($(this).is(':checked'));
            $('#doneXray').click(function() {
                $('#doneXray').val($(this).is(':checked'));
            });
        });
    </script>
}